* {
  font-size: 24px;
  background-color: black;
  color: white;
  user-select: none;
}

#header {
  margin: 2px;
}

#title {
  font-weight: bold;
}
#current-page, #page-pause, #keyboard-help {
  font-weight: bold;
  border: solid 2px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#header-datetime {
  float: right;
}

#main-content {
  display: flex;
  flex-flow: column;

}

.block {
  padding: 8px;
  margin: 8px;  
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
}

.block-title {
  background-color: inherit;
  font-weight: bold;
}

#status-block {
  background-color: rgb(138, 145, 69);

}


#smarthome-block {
  background-color: rgb(128, 62, 62);

}

#weather-block {
  background-color: rgb(73, 104, 68);
}

#recorded-block, #reserve-block {
  background-color: rgb(58, 88, 117);
}
#recording-block {
  background-color: rgb(113, 152, 189);
}

#train-block {
  background-color: rgb(168, 127, 66);
}

#schedule-block {
  background-color: rgb(121, 68, 120);
}

th, td {
  border: solid 1px;
  padding: 5px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

#weather-table {
  text-align: center;
}

.status-OK {
  background-color: rgb(59, 124, 59);
  color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.status-BAD {
  background-color: rgb(190, 80, 80);
  color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
  font-weight: bold;
}


#message {
    position: fixed;
    top: 40px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.message-success {
  background-color: rgb(59, 124, 59)!important
}

.message-error {
  background-color: rgb(190, 80, 80)!important
}

#close-button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}


