* {
  font-size: 22px;
  background-color: black;
  color: white;
}

#title {
  font-weight: bold;
}

#header-datetime {
  float: right;
}

#main-content {
  display: flex;

}
.block {
  width: 50%;
  padding: 5px;  
  border-radius: 5px;
}

#status-block {
  background-color: rgb(62, 66, 56);

}

th, td {
  border: solid 1px;
  padding: 10px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

.status-ok {
  background-color: rgb(59, 124, 59);
  color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.status-bad {
  background-color: rgb(190, 80, 80);
  color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
  font-weight: bold;
}


#message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.message-success {
  background-color: rgb(59, 124, 59)!important
}

.message-error {
  background-color: rgb(190, 80, 80)!important
}

#close-button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}


