* {
  font-size: 22px;
  background-color: black;
  color: white;
}

#title {
  font-weight: bold;
}

#header-datetime {
  float: right;
}

#main-content {
  display: flex;
  flex-flow: column;

}

.block {
  padding: 8px;
  margin: 8px;  
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
}

.block-title {
  background-color: inherit;
  font-weight: bold;
}

#status-block {
  background-color: rgb(118, 135, 151);

}

#weather-block {
  background-color: rgb(123, 151, 118);
}

th, td {
  border: solid 1px;
  padding: 5px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

#weather-table {
  text-align: center;
}

.status-OK {
  background-color: rgb(59, 124, 59);
  color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.status-BAD {
  background-color: rgb(190, 80, 80);
  color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 5px;
  font-weight: bold;
}


#message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.message-success {
  background-color: rgb(59, 124, 59)!important
}

.message-error {
  background-color: rgb(190, 80, 80)!important
}

#close-button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}


