[Unit]
Description=system backup service
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/bin/bash /home/noyuno/tv/backup/backup-system.sh
User=root
